{% extends "../template/_layout.html" %}
<!--  -->
{% block css %}
<link rel="stylesheet" href="/css/admin/board.css" />
{% endblock %}
<!--  -->
{% block js %}
<script
  src="https://kit.fontawesome.com/cbc296ae57.js"
  crossorigin="anonymous"
></script>
<script src="/js/board/findCurPage.js" defer></script>
{% endblock%}
<!--  -->
{% block content %}
<div id="content">
  <nav>
    <ul id="menu_list">
      <li><a href="/admin/user?page=1">회원관리</a></li>
      <li class="selected">게시글관리</li>
    </ul>
  </nav>
  <div id="user_list">
    <table>
      <tr id="category_list">
        <td id="category_id">글번호</td>
        <td id="category_subject">제목</td>
        <td id="category_author">작성자</td>
        <td id="category_date">등록일</td>
        <td id="category_hit">조회수</td>
        <td id="category_delete">삭제</td>
      </tr>
      {%for posting in result%}
      <tr>
        <td>{{posting._id}}</td>
        <td>
          <a href="/board/view?_id={{posting._id}}">{{posting.subject}}</a>
        </td>
        <td>{{posting.alias}}</td>
        <td>{{posting.date}}</td>
        <td>{{posting.hit}}</td>
        <td>
          <a href="/admin/board/delete?_id={{posting._id}}">
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
      {%endfor%}
    </table>
    <ul id="pagenation">
      <li><a href="#">&lt;</a></li>
      <li><a href="/admin/board?page={{page-1}}">&lt;</a></li>
      <li>
        <a href="/admin/board?page={{pageCal*5-4}}" class="page_num">
          {{pageCal*5-4}}
        </a>
      </li>
      <li>
        <a href="/admin/board?page={{pageCal*5-3}}" class="page_num">
          {{pageCal*5-3}}
        </a>
      </li>
      <li>
        <a href="/admin/board?page={{pageCal*5-2}}" class="page_num">
          {{pageCal*5-2}}
        </a>
      </li>
      <li>
        <a href="/admin/board?page={{pageCal*5-1}}" class="page_num">
          {{pageCal*5-1}}
        </a>
      </li>
      <li>
        <a href="/admin/board?page={{pageCal*5}}" class="page_num">
          {{pageCal*5}}
        </a>
      </li>
      <li><a href="/admin/board?page={{page+1}}">&gt;</a></li>
      <li><a href="#">&gt;</a></li>
    </ul>
  </div>
</div>
<div style="display: none" id="cur_page">{{page}}</div>
{% endblock %}
