{% extends "../template/_layout.html" %}
<!--  -->
{% block css %}
<link rel="stylesheet" href="/css/admin/user.css" />
{% endblock %}
<!--  -->
{% block js %}
<script
  src="https://kit.fontawesome.com/cbc296ae57.js"
  crossorigin="anonymous"
></script>
{% endblock%}
<!--  -->
{% block content %}
<div id="content">
  <nav>
    <ul id="menu_list">
      <li class="selected">회원관리</li>
      <li><a href="/admin/board?page=1">게시글관리</a></li>
    </ul>
  </nav>
  <div id="user_list">
    <table>
      <tr id="category_list">
        <td>아이디</td>
        <td>이름</td>
        <td>닉네임</td>
        <td>이메일</td>
        <td>생년월일</td>
        <td>성별</td>
        <td>핸드폰번호</td>
        <td>전화번호</td>
        <td>등급</td>
        <td>계정상태</td>
        <td>수정</td>
      </tr>
      {%for user in result%}
      <tr>
        <td>{{user.userid}}</td>
        <td>{{user.username}}</td>
        <td>{{user.alias}}</td>
        <td>{{user.email}}</td>
        <td>{{user.birthdate}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.mobile}}</td>
        {%if user.tel == null%}
        <td>입력안됨</td>
        {%else%}
        <td>{{user.tel}}</td>
        {%endif%}
        <!--  -->
        {% if user.level == 1%}
        <td>최고관리자</td>
        {% elif user.level == 2%}
        <td>관리자</td>
        {% elif user.level == 3%}
        <td>사용자</td>
        {% endif %}
        <!--  -->
        {% if user.isActive == 1%}
        <td>활성화</td>
        {% elif user.isActive == 0%}
        <td class="disable_user">정지</td>
        {% endif %}
        <td>
          <a href="/admin/user/edit?_id={{user._id}}">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
      {%endfor%}
    </table>
    <ul id="pagenation">
      <li><a href="#">&lt;</a></li>
      <li class="selected_page"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&gt;</a></li>
    </ul>
  </div>
</div>
{% endblock %}
