{% extends "../template/_layout.html" %}
<!--  -->
{% block css %}
<link rel="stylesheet" href="/css/admin/userEdit.css" />
{% endblock %}
<!--  -->
{% block js %}
<script src="/js/admin/userEdit.js" defer></script>
{% endblock%}
<!--  -->
{% block content %}
<div id="content">
  <form action="/admin/user/edit" method="post">
    <ul id="join_list">
      <div id="select_con">
        <select name="level" id="level">
          {% if result.level == 1 %}
          <option value="1" selected>최고관리자</option>
          <option value="2">중간관리자</option>
          <option value="3">일반사용자</option>
          {% elif result.level == 2 %}
          <option value="1">최고관리자</option>
          <option value="2" selected>중간관리자</option>
          <option value="3">일반사용자</option>
          {% elif result.level == 3 %}
          <option value="1">최고관리자</option>
          <option value="2">중간관리자</option>
          <option value="3" selected>일반사용자</option>
          {% endif %}
        </select>
        <select name="isActive" id="isActive">
          {%if result.isActive == 1%}
          <option value="1" selected>활성화</option>
          <option value="0">정지</option>
          {%elif result.isActive == 0%}
          <option value="1">활성화</option>
          <option value="0" selected>정지</option>
          {%endif%}
        </select>
      </div>
      <li>
        <label for="userid">아이디</label>
        <div>
          <input
            type="text"
            name="userid"
            id="userid"
            maxlength="16"
            value="{{result.userid}}"
            readonly
          />
        </div>
        <span id="id_span"></span>
      </li>
      <li>
        <label for="username">이름</label>
        <input
          type="text"
          name="username"
          id="username"
          maxlength="16"
          value="{{result.username}}"
          disabled
        />
        <span id="name_span"></span>
      </li>
      <li>
        <label for="useralias">닉네임</label>
        <input
          type="text"
          name="useralias"
          id="useralias"
          maxlength="16"
          value="{{result.alias}}"
        />
        <span id="alias_span"></span>
      </li>
      <li>
        <label for="useremail">이메일</label>
        <input
          type="text"
          name="useremail"
          id="useremail"
          maxlength="32"
          value="{{result.email}}"
        />
        <span id="email_span"></span>
      </li>
      <li>
        <label for="user_birth_year">생년월일</label>
        <div>
          <input
            type="text"
            name="userBirthYear"
            id="user_birth_year"
            placeholder="년(4자)"
            class="one_third_input"
            maxlength="4"
            value="{{birthdate.year}}"
          />
          <input
            type="text"
            name="userBirthMonth"
            id="user_birth_month"
            placeholder="월"
            class="one_third_input"
            maxlength="2"
            value="{{birthdate.month}}"
          />
          <input
            type="text"
            id="user_birth_day"
            name="userBirthDay"
            placeholder="일"
            class="one_third_input"
            maxlength="2"
            value="{{birthdate.date}}"
          />
        </div>
        <span id="birth_span"></span>
      </li>
      <li>
        <label for="usergender">성별</label>
        <select name="usergender" id="usergender">
          {%if result.gender == '남자'%}
          <option value="남자" selected>남자</option>
          <option value="여자">여자</option>
          {%elif result.gender == '여자'%}
          <option value="남자">남자</option>
          <option value="여자" selected>여자</option>
          {%endif%}
        </select>
      </li>
      <li>
        <label for="usermobile1">핸드폰 번호</label>
        <div>
          <input
            type="text"
            name="usermobile1"
            id="usermobile1"
            class="one_third_input"
            maxlength="3"
            value="{{mobile.mb1}}"
          />
          <input
            type="text"
            name="usermobile2"
            id="usermobile2"
            class="one_third_input"
            maxlength="4"
            value="{{mobile.mb2}}"
          />
          <input
            type="text"
            name="usermobile3"
            id="usermobile3"
            class="one_third_input"
            maxlength="4"
            value="{{mobile.mb3}}"
          />
        </div>
        <span id="mobile_span"></span>
      </li>
      <li>
        <label for="usertel">전화번호(선택)</label>
        <div>
          <input
            type="text"
            name="usertel1"
            id="usertel1"
            class="one_third_input"
            maxlength="3"
            value="{{tel.tel1}}"
          />
          <input
            type="text"
            name="usertel2"
            id="usertel2"
            class="one_third_input"
            maxlength="4"
            value="{{tel.tel2}}"
          />
          <input
            type="text"
            name="usertel3"
            id="usertel3"
            class="one_third_input"
            maxlength="4"
            value="{{tel.tel2}}"
          />
        </div>
        <span id="tel_span"></span>
      </li>
      <div id="btn_container">
        <div class="join_btn non_btn" id="join_submit_btn">
          양식이 지켜지지 않았습니다.
        </div>
      </div>
    </ul>
  </form>
</div>
{% endblock %}
