<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css" />
    <link rel="stylesheet" href="../public/css/header.css" />
    <link rel="stylesheet" href="../public/css/side_menu.css" />
    <link rel="stylesheet" href="../public/css/main/mainpage.css" />
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1>
          <a href="#">
            <img src="../public/img/LOGO/Logo.png" id="logo" />
          </a>
        </h1>
        <label for="sidemenu_check" class="sidemenu_btn">
          <div></div>
          <div></div>
          <div></div>
        </label>
      </div>
      <input type="checkbox" id="sidemenu_check" />
      <div id="side_menu_container"></div>
      <div id="side_menu">
        <label for="sidemenu_check" class="sidemenu_btn">
          <div></div>
          <div></div>
        </label>
        <div id="user_menu">
          <div>
            <img src="../public/img/icon/usericon.png" alt="" />
            <span> 로그인 해주세요.</span>
          </div>
          <ul>
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
          </ul>
        </div>
        <ul id="category_menu">
          <li><a href="#">HOME</a></li>
          <li><a href="#">BOARD</a></li>
        </ul>
      </div>
      <div id="content">
        <div id="top_text">
          <p>지속적으로 발전하는 6TEAM이</p>
          <p>세상의 변화를 이끌어갑니다</p>
        </div>
        <div id="slide_view">
          <ul>
            <li>
              <div></div>
            </li>
            <li>
              <div></div>
            </li>
            <li>
              <div></div>
            </li>
            <li>
              <div></div>
            </li>
          </ul>
        </div>
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>
