<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css" />
    <link rel="stylesheet" href="../public/css/header.css" />
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1>
          <a href="#">
            <img src="../public/img/LOGO/Logo.png" id="logo" />
          </a>
        </h1>
        <input type="checkbox" id="sidemenu_check" />
        <label for="sidemenu_check" id="sidemenu_btn">
          <div></div>
          <div></div>
          <div></div>
        </label>
      </div>
      <div id="content"></div>
      <div id="footer"></div>
    </div>
  </body>
</html>
