#header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

#logo {
  display: block;
  width: 140px;
}

#sidemenu_check {
  display: none;
}

#sidemenu_btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  z-index: 10;
}

#sidemenu_btn > div {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: black;
}

#sidemenu_btn > div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

#sidemenu_btn > div:nth-child(3) {
  bottom: 0;
}
