#header {
  width: 100%;
  height: 100px;

  box-sizing: border-box;
  top: 0;
  background-color: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 12;
}

#header.scroll {
  background-color: transparent;
}

#header_wrap {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: block;
  width: 140px;
}

#sidemenu_check {
  display: none;
}

.sidemenu_btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.sidemenu_btn > div {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: black;
  border: 2px solid white;
}

.sidemenu_btn > div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.sidemenu_btn > div:nth-child(3) {
  bottom: 0;
}

#login {
  position: absolute;
  right: 100px;
  color: #107af2;
  font-weight: 700;
}
