{% extends "../template/_layout.html" %}
<!--  -->
{% block css %}
<link rel="stylesheet" href="/css/user/welcome.css" />
{% endblock %}
<!--  -->
{% block js %} {% endblock%}
<!--  -->
{% block content %}
<div id="content">
  <div id="side_img">
    <img src="/img/bg/user_login_side.jpg" alt="" />
  </div>
  <div id="welcome_section">
    <p>회원가입을 환영합니다.</p>
    <div id="welcome_btn_contanier">
      <a href="/">메인으로</a>
      <a href="/user/login">로그인 페이지로</a>
    </div>
  </div>
</div>
{% endblock %}
