body {
  background-image: url('../../img/bg/gradation_bg.jpg');
  background-size: 100vw 100vh;
  position: relative;
  height: 100vh;
}

#header {
  background-color: transparent;
}

#content {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 450px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 15px -3px #000000;
}

#side_img > img {
  width: 310px;
  height: 450px;
  border-radius: 10px 0 0 10px;
}

#login_section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  width: 590px;
}

#login_section > form {
  width: 280px;
}

#login_section > form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#login_section > form > div > label {
  margin-left: 5px;
  margin-bottom: 7px;
  font-size: 16px;
}

#login_section > form > div > input {
  width: 100%;
  height: 30px;
  border: 1px solid #868686;
  padding: 0 10px;
  font-size: 16px;
  outline-color: black;
  border-radius: 8px;
  box-sizing: border-box;
}

#login_section > form > button {
  width: 100%;
  height: 30px;
  font-size: 17px;
  color: white;
  background-color: #107af2;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

#login_section > form > button:hover {
  color: #107af2;
  background-color: #fff;
  border-color: #107af2;
}
