body {
  background: url('../../img/bg/gradation_bg.jpg');
  background-position: cover;
}

span {
  font-size: 13px;
  color: red;
  margin-left: 5px;
}

#header {
  background-color: transparent;
}

#content {
  width: 480px;
  margin: 150px auto 0;
}

#join_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1180px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

#join_list > li {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#join_list > li > label {
  margin-bottom: 10px;
}

#join_list > li > input {
  width: 100%;
  height: 40px;
  border: 1px solid #ececec;
  padding: 0 15px;
  font-size: 18px;
  outline-color: black;
  border-radius: 8px;
  box-sizing: border-box;
}
#join_list > li > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#join_list > li > div > input {
  height: 40px;
  border: 1px solid #ececec;
  padding: 0 15px;
  font-size: 18px;
  outline-color: black;
  border-radius: 8px;
}

#userid {
  width: 330px;
}

#btn_container {
  display: flex;
  justify-content: space-between;
}

.join_btn {
  width: 113px;
  font-size: 17px;
  color: white;
  background-color: #107af2;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

.join_btn.non_btn {
  background-color: #ececec;
  color: black;
  line-height: 40px;
  text-align: center;
}

.join_btn:hover {
  color: #107af2;
  background-color: #fff;
  border-color: #107af2;
}

#join_submit_btn {
  width: 48%;
  height: 40px;
}

#quit_btn {
  width: 48%;
  height: 40px;
  font-size: 17px;
  color: white;
  background-color: #107af2;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

#quit_btn:hover {
  color: #107af2;
  background-color: #fff;
  border-color: #107af2;
}

.one_third_input {
  width: 110px;
}
