{% extends "../template/_layout.html" %}
<!--  -->
{% block css %}
<link rel="stylesheet" href="/css/board/view.css" />
{% endblock %}
<!--  -->
{% block js %} {% endblock%}
<!--  -->
{% block content %}
<div id="board_top">자유게시판</div>
<div id="content">
  <div id="title">
    <p>{{result.subject}}</p>
    <span>{{result.alias}}</span>
    <span>{{result.date}}</span>
    <span>조회수 {{result.hit}}</span>
  </div>
  <div id="main_content">{{result.content}}</div>
  <div id="btn_container">
    <a href="/board/list?page={{page}}">글목록</a>
    <div id="right_btn_container">
      <a href="/board/edit?index={{result._id}}&page={{page}}">수정하기</a>
      <a href="/board/delete?index={{result._id}}&page={{page}}">삭제하기</a>
    </div>
  </div>
</div>
<div id="reply_container">
  <div id="reply_input">
    <div id="sub_con_input">
      <input type="text" id="reply_author" value="댓글작성자테스트" readonly />
      <textarea
        name="replyContent"
        id="reply_content"
        cols="30"
        rows="10"
      ></textarea>
    </div>
    <button id="reply_btn">댓글등록</button>
  </div>
  <div id="reply_list_header">
    <p id="reply_title">댓글</p>
    <p id="reply_count">25개</p>
  </div>
  <ul id="reply_list">
    <li>
      <span>작성자 테스트</span>
      <span>2022-12-12</span>
      <div>댓글 내용내용 내내용 내용</div>
      <span class="reply_edit_btn reply_btn">수정</span>
      <span class="reply_del_btn reply_btn">삭제</span>
    </li>
    <li>
      <span>작성자 테스트</span>
      <span>2022-12-12</span>
      <div>댓글 내용내용 내내용 내용</div>
      <span class="reply_edit_btn reply_btn">수정</span>
      <span class="reply_del_btn reply_btn">삭제</span>
    </li>
    <li>
      <span>작성자 테스트</span>
      <span>2022-12-12</span>
      <div>댓글 내용내용 내내용 내용</div>
      <span class="reply_edit_btn reply_btn">수정</span>
      <span class="reply_del_btn reply_btn">삭제</span>
    </li>
    <li>
      <span>작성자 테스트</span>
      <span>2022-12-12</span>
      <div>댓글 내용내용 내내용 내용</div>
      <span class="reply_edit_btn reply_btn">수정</span>
      <span class="reply_del_btn reply_btn">삭제</span>
    </li>
    <li>
      <span>작성자 테스트</span>
      <span>2022-12-12</span>
      <div>댓글 내용내용 내내용 내용</div>
      <span class="reply_edit_btn reply_btn">수정</span>
      <span class="reply_del_btn reply_btn">삭제</span>
    </li>
    <li>
      <span>작성자 테스트</span>
      <span>2022-12-12</span>
      <div>댓글 내용내용 내내용 내용</div>
      <span class="reply_edit_btn reply_btn">수정</span>
      <span class="reply_del_btn reply_btn">삭제</span>
    </li>
    <li>
      <span>작성자 테스트</span>
      <span>2022-12-12</span>
      <div>댓글 내용내용 내내용 내용</div>
      <span class="reply_edit_btn reply_btn">수정</span>
      <span class="reply_del_btn reply_btn">삭제</span>
    </li>
    <li>
      <span>작성자 테스트</span>
      <span>2022-12-12</span>
      <div>댓글 내용내용 내내용 내용</div>
      <span class="reply_edit_btn reply_btn">수정</span>
      <span class="reply_del_btn reply_btn">삭제</span>
    </li>
    <li>
      <span>작성자 테스트</span>
      <span>2022-12-12</span>
      <div>댓글 내용내용 내내용 내용</div>
      <span class="reply_edit_btn reply_btn">수정</span>
      <span class="reply_del_btn reply_btn">삭제</span>
    </li>
    <li>
      <span>작성자 테스트</span>
      <span>2022-12-12</span>
      <div>댓글 내용내용 내내용 내용</div>
      <span class="reply_edit_btn reply_btn">수정</span>
      <span class="reply_del_btn reply_btn">삭제</span>
    </li>
  </ul>
</div>
{% endblock %}
