<input type="checkbox" id="sidemenu_check" />
<div id="side_menu_container"></div>
<div id="side_menu">
  <label for="sidemenu_check" class="sidemenu_btn">
    <div></div>
    <div></div>
  </label>
  <div id="user_menu">
    <div>
      <img src="/img/icon/usericon.png" alt="" />
      {% if user %}
      <span id="side_menu_span">{{user.alias}}님 환영합니다</span>
      {% elif admin %}
      <span id="side_menu_span">관리자님 환영합니다</span>
      {% else %}
      <span id="side_menu_span">환영합니다</span>
      {% endif %}
    </div>
    <ul>
      {% if user or admin %}
      <li><a href="/user/profile">마이페이지</a></li>
      <li><a href="/user/logout">로그아웃</a></li>
      {% else %}
      <li><a href="/user/login">로그인</a></li>
      <li><a href="/user/join">회원가입</a></li>
      {% endif %}
    </ul>
  </div>
  <ul id="category_menu">
    <li><a href="/">HOME</a></li>
    <li><a href="/board/list">BOARD</a></li>
    {% if admin %}
    <li><a href="/admin/user">ADMIN</a></li>
    {% endif %}
  </ul>
</div>
