<input type="checkbox" id="sidemenu_check" />
<div id="side_menu_container"></div>
<div id="side_menu">
  <label for="sidemenu_check" class="sidemenu_btn">
    <div></div>
    <div></div>
  </label>
  <div id="user_menu">
    <div>
      <img src="/img/icon/usericon.png" alt="" />
      <span id="side_menu_span"> 로그인 해주세요.</span>
    </div>
    <ul>
      <li><a href="#">로그인</a></li>
      <li><a href="#">회원가입</a></li>
    </ul>
  </div>
  <ul id="category_menu">
    <li><a href="#">HOME</a></li>
    <li><a href="#">BOARD</a></li>
  </ul>
</div>
